@import url('https://fonts.googleapis.com/css?family=Philosopher');

$primary-green:#99ffd6;
$light-green:#ccffeb;


html{
    height: 100%;
}
body {
    font-family: 'Philosopher', Verdana,Helvetica,sans-serif;
    background-image:url('./cloudyBG-min.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    div.wrapper{
        div.header{
            background: rgba(0, 0, 0, 0.88);
            text-align: center;
            h1{
                color:#fff;
                margin:0;
                font-size:2em;
                padding:20px 0;
            }
        }
        div.content{
            box-sizing: border-box;
            padding:40px 20px;
            width:960px;
            margin:0 auto;
            background-color:#ebf2f2;
            min-height: 600px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            div.loading{
                text-align: center;
            }
            div.valMess {
                box-sizing: border-box;
                color: #930707;
                font-size: 1.2em;
                padding: 5px 10px;
                background-color: #ef8d8d;
                border-radius: 2px;
                border: .2px solid #930707;
                width: 320px;
                margin: 0 auto;
                margin-bottom: 5px;
            }
            form.weatherForm{
                box-sizing: border-box;
                margin:0 auto;
                width:320px;
                div.inputBox{
                    position:relative;
                    width:320px;
                    i.locationIcon{
                        position:absolute;
                        width:24px;
                        height:24px;
                        padding:5px;
                        top:5px;
                        left:5px;
                        background:url('./mapPin.png') no-repeat;
                    
                    }
                    input{
                        width:278px;
                        font-size:1.2em;
                        padding:5px;
                        padding-left:37px;
                        color:#9EA4A8;
                        border:none;
                        border-radius:5px;
                    }
                    input:focus{
                        border:1px solid $primary-green;
                        box-shadow:0px 0px 3px 2px #75efac;
                    }
                    
                }
                button{
                    text-align: none;
                    margin:10px 8px;
                    border:none;
                    outline:none;
                    box-shadow: 0 0 2px 1px #9EA4A8;
                    padding:5px 10px;
                    border-radius:3px;
                }
                button:hover{
                    cursor:pointer;
                }
                button:active{
                    box-shadow:inset 0 0 1px 2px #9EA4A8;
                }
            }
        .city{
            text-align: center;
        }
        }
        .arrowContainer{
            display: inline-block;
            width: 47%;
            position: relative;
            padding:10px 1.5%;
        }
        .arrow{
            height: 30px;
            width:30px;
            background-image: url(./back24.png);
            background-color: rgba(98, 93, 93, 0.2);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 50%;
        }
        div.arrow:hover{
            background-color:rgba(98, 93, 93,0.65);
            cursor: pointer;
        }
        div.back:active{
            background-position:48% 50%;
        }
        div.forward:active{
            background-position:43% 51%;
        }
        .forward{
            transform: rotate(180deg);
            right:0;
        }
        .getRight{
            float: right;
        }
        ////////////////////
        // TABLE SETTINGS //
        ////////////////////
        div.tableBox {
            width:px;
            position: relative; 
            margin:0 auto;
            table {
                border-spacing: 0;
                width:100%;
            }
            table caption {
                margin:20px;
                font-size: 1.6em;
                width:100%;
            }
            th .leftArr{
                left:0;
            }
            th .rightArr {
                right:0;
            }
            tbody td{
                padding:5px 15px;
                text-align: center;
                position:relative;
            }
            td.hiddenCell{
                visibility: hidden;
            }
            tr:nth-of-type(odd){
                background:$primary-green;
            }
            tr:nth-of-type(even){
                background:$light-green;
            }
            tr:nth-of-type(8){
                background-color:$primary-green;
            }
            tr:nth-of-type(9){
                background: $light-green
            }
            
            tr > td:first-child{
                text-align: left;
                font-weight: 600;
            }
            tr > td:nth-child(2){
                padding:5px 15px 5px 25px;
            }
            tr.spaceTop{
                padding-top:50px !important;
            }
            .dirArr{
                background-image: url(./dirArrow.png);
                background-repeat: no-repeat;
                background-position: center;
                height:24px;
                width:24px;
                margin: 0 auto;
            }
        }
        ////////////////////////
        // END TABLE SETTINGS //
        ////////////////////////
    }
} 
   