@import url('https://fonts.googleapis.com/css?family=Philosopher');


html{
    height: 100%;
}
body {
    height:100%;
    font-family: 'Philosopher', Verdana,Helvetica,sans-serif;
    background-image:url('./cloudyBG-min.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    div.wrapper{
        height: 100vh;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        div.header{
            background: rgba(0, 0, 0, 0.88);
            text-align: center;
            width:960px;
            flex-shrink: 2;
            h1{
                color:#fff;
                margin:0;
                font-size:2em;
                padding:20px 0;
            }
        }
        div.content{
            box-sizing: border-box;
            padding:40px 20px;
            width:960px;
            margin:0 auto;
            background-color:#ebf2f2;
            flex-grow: 8;
            overflow: auto;
            div.loading{
                text-align: center;
            }
            div.valMess {
                box-sizing: border-box;
                color: #930707;
                font-size: 1.2em;
                padding: 5px 10px;
                background-color: #ef8d8d;
                border-radius: 2px;
                border: .2px solid #930707;
                width: 320px;
                margin: 0 auto;
                margin-bottom: 5px;
            }
            form.weatherForm{
                box-sizing: border-box;
                margin:0 auto;
                width:320px;
                div.inputBox{
                    position:relative;
                    width:320px;
                    i.locationIcon{
                        position:absolute;
                        width:24px;
                        height:24px;
                        padding:5px;
                        top:5px;
                        left:5px;
                        background:url('./mapPin.png') no-repeat;
                    
                    }
                    input{
                        width:278px;
                        font-size:1.2em;
                        padding:5px;
                        padding-left:37px;
                        color:#9EA4A8;
                        border:none;
                        border-radius:5px;
                    }
                    
                }
                button{
                    text-align: none;
                    margin:10px 8px;
                    border:none;
                    outline:none;
                    box-shadow: 0 0 2px 1px #9EA4A8;
                    padding:5px 10px;
                    border-radius:3px;
                }
                button:hover{
                    cursor:pointer;
                }
                button:active{
                    box-shadow:inset 0 0 1px 2px #9EA4A8;
                }
            }
        }
    }
} 
   
 
////////////////////////////
//weather info box styling//
////////////////////////////
div.weather-display{
    width:600px;
    margin:50px auto;
    div.section-control{
        ul.weather-nav{
            display:flex;
            list-style-type: none;
            padding:0;
            li.weather-section{
                margin-right: 10px;
                &.active{
                    text-decoration: underline;
                    font-weight: 600;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    div.current-weather,
    div.forecast-weather-box{
        width:100%;
        display:flex;
        flex-direction: column;
        background:#4da2e2;
        padding:20px 0;
        box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.75);
        div.weather-box-top{
            display:flex;
            img.weather-icon{
                flex-basis: 15%;
            }
            .top-right-section{
                display: flex;
                justify-content: flex-end;
                flex-basis:85%;
                align-items:baseline; 
                .weather-day{
                    font-size:3em;
                    margin-left:5px;
                    margin-right:10px;
                }
            }
        }
        div.weather-box-bottom{
            display:flex;
            align-items: baseline;
            justify-content: space-between;
            & > div.bottom-item{
                flex-basis:33%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                span.left-bottom-item,
                span.right-bottom-item{
                    display:flex;
                    justify-content: center;
                    padding:10px;
                }
            }
            div.weather-box-mid{
                width:100px;
                text-align: center;
                & > *{
                    display:block;
                    padding:5px;
                }
                img.direction-arrow{
                    margin: 0 auto;
                }
            }
        }
    }
}

div.forecast-weather-box{
    margin-bottom: 20px;
}

div.forecast-weather-box{
    div.top-right-section{
        justify-content: flex-start !important;
        align-items:flex-end !important; 
        flex-direction: column;
        span.weather-day{
            font-size:2em !important;
        }
        span.weather-date{
            margin-right:10px;
        }
    }
}
