@media screen and (max-device-width: 960px){

body{
    background-image:none;
    height:100%;
    div.content{
        width:100% !important;
        padding:40px 0 0 0 !important;
    }
    div#root,div.wrapper{
        height:100%;
        div.header{
            width:100%;
        }
    }
    div.content{
        height:91%;
        border-radius:none;
    }

}
}
@media screen and(max-device-width: 660px){
    body{
        width:100%;
        overflow-x: hidden;
        div#root, div.wrapper{
            height: 100% !important;
        }
        
    }
}
@media screen and(max-device-width: 600px){
    div.weather-display{
        width:100%;
    }
}

@media screen and(max-device-width: 440px){
    div.weather-display{
        width:100%;
    }
    div.current-weather{
        border-radius: none;
        padding-top:5px !important;
        div.weather-box-top{
            div.top-right-section{
                flex-direction: column;
                align-items: end !important;
                justify-content: flex-start !important;
                span.weather-date{
                    margin-right:10px !important;
                }
            }
            
        }
        div.weather-box-bottom{
            flex-direction:column;
            align-items: center !important;
        }
    }
    img.weather-icon{
        flex-basis: 40% !important;
    }
    div.top-right.section{
        flex-basis:60% !important;
    }
    div.forecast-weather-box{
        span.weather-day{
            text-align: right;
        }
    }
    .weatherForm,.inputBox,input{
        width:100% !important;
        box-sizing: border-box;
    }
    .weather-display{
        margin-bottom:0 !important;
    }
}